// SCSS allows you to write css programmatically as if styles were an object. The level here would be the same as
// writing two styles in css for .card > .card-text, but instead you can nest them in the original .card styles
// That way all the styles from .card get applied to the other levels of styles.
.card {
  color: $color-text-gray;
  .card-header {
    ion-icon {
      font-size: 1.5rem;
      padding: 0;
      .icon-inner,
      svg {
        display: inherit;
        padding: 0;
      }

    }
  }

  .card-img-top {
    background-color: $color-grey-3;
  }
  .card-body {
    .card-text {
      font-size: 1rem;
    }
    .btn-add {
      margin: auto;
    }
  }



}