.card.event-card {
  flex-direction: row;
  background-color: $color-grey-4;
  max-width: 75%;
  min-width: 250px;

  img {
    border-radius: 3px;
    margin: 10px;
    max-width: 100px;
    border: 1px solid #eef2f2;
    background-color: $color-blue-1;
  }

  .card-body {
    display: block;
  }
}