//Primary color palette
$color-primary-green: #275d38;
$color-primary-black: #000;
$color-primary-white: #fff;
$color-primary-grey: #8e8c89;

//Greens
$color-green-1: #00843d;
$color-green-2: #48a23f;
$color-green-3: #78be20;
$color-green-4: #c5e86c;

//Reds - Yellows
$color-red-1: #823b34;
$color-red-2: #e1523d;

$color-orange-1: #d45d00;

$color-yellow-1: #ffb500;
$color-yellow-2: #fbdb65;

//Purple - Blue
$color-purple-1: #595478;

$color-blue-1: #0095c8;
$color-blue-2: #00bfb3;
$color-blue-3: #86c8bc;
$color-blue-4: #bdd6e6;

//Other
$color-brown-1: #696158;
$color-brown-2: #8c8279;
$color-grey-1: #a7a8aa;
$color-grey-2: #D0d0ce;
$color-grey-3: #eef2f2;
$color-grey-4: #f6f9f8;

$color-text-gray: #434c50;
