.App {

}
card{
  color: red;
}

.container{
  display: Flex;
}

.fixed{
  width: 200px;
}

.flex-item{
  flex-grow: 1;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}


